
/* mise en page du body et h1*/
body {
    background-color: #dff4f4;
    margin: 10px 10px;
    padding: 0px;
    text-align: center;
    font-family: "Heebo", sans-serif;
    font-size: 25PX;
    letter-spacing: 4px;
    font-weight: bold;
    position: relative;




}

  #citations{display: flex;
}


#conteneur{
  width: 770px;
  margin: 0 auto;
  text-align: center;
  position: relative;


}

h1.titre{
  font-family: "Heebo", sans-serif; // police
  font-size: 30px;
  color: #111111;
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  height: 150px;
  position: relative;



}



img.tv{

  vertical-align: middle;
  width: 40vw;
  position: relative;
  top: -70px;


}

footer{
  position:absolute;

  bottom:0;

  width:100%;

  padding-top:50px;

  height:50px;

}

/* citation effet : https://codepen.io/gavra/pen/tEpzn texte */
