@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

/* mise en page du body */
body {
    background-color: #dff4f4;
    margin: 30px 10px;
    padding: 0px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 25PX;
    letter-spacing: 4px;
    font-weight: bold;
    overflow-x: hidden;

}

#citations{display: flex;}


#container{
  top:-15%;
  width: 100%;
  height : 100%;
  margin: 0 auto;
  text-align: center;

}
/* effet titre inspiré de https://codepen.io/gavra/pen/tEpzn*/
h2#typedtext{
  font-family: "Josefin Sans", sans-serif; // police
  font-size: 40px;
  color: #111111;
  display: flex;
  justify-content: center;
  height: 40px;
  position: relative;

  z-index: 6;

}


/*ID images qui regroupe l'ensemble des images*/
#images{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 80px;
  height: auto;
  width: 100%;


}
/*Superposition des images */
img.carte2, .carte3, .carte4, .carte1{
  margin: auto;
  position: absolute;

}
/*Image 4 de fond --> avec animation taille*/
img.carte4{
  width: 110%;
  -webkit-animation:augmove 5s infinite;
  display: block;
  z-index: 1; /*Permet de superposer des "objets" en fonction d'un ordre précis */

}
/*clé pour animer la taille de l'image ici toutes les 5 secondes*/
@-webkit-keyframes augmove{
  0% {width: 100%;}
  60% {width: 120%;}
  100%{width: 100%;}
}


img.carte3{
  -webkit-animation:augmove2 5s infinite;
  z-index: 2;
}
@-webkit-keyframes augmove2{
  0% {width: 90%;}
  50% {width: 110%;}
  100%{width: 90%;}
}


img.carte2{
  -webkit-animation:augmove3 5s infinite;
  z-index: 3;

}
@-webkit-keyframes augmove3{
  0% {width: 80%;}
  30% {width: 95%;}
  100%{width: 80%;}
}


img.carte1{
  width: 70%;
  margin-left: 10px;
  z-index: 4;

}

/* Quiz */

.buttons .options{
  float: left;
  width: 100%;
}

.options ul{
  list-style: none;
  padding: 0px;
  display: flex;
  align-content: flex-end;
  justify-content:  space-around;

}
/*Boutons yes et no cliquables*/
.options ul li{
  display: inline-block;
  background: rgb(6,74,111); /*Effet couleur dégradé :*/
  background: -moz-linear-gradient(0deg, rgba(6,74,111,0.8645833333333334) 0%, rgba(24,36,79,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(6,74,111,0.8645833333333334) 0%, rgba(24,36,79,1) 100%);
  background: linear-gradient(0deg, rgba(6,74,111,0.8645833333333334) 0%, rgba(24,36,79,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#064a6f",endColorstr="#18244f",GradientType=1);
  width: 30%;
  padding: 9px;
  border-radius:18px;
  margin-top: 120px;
  font-size: 25px;
  color:#ffffff;
  cursor: pointer;
  outline: none;
  z-index: 9;
}

#tele{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 370px;
  width: 520px;
  margin:90px auto;
  border-radius: 8px;
  padding: 20px;
  z-index :100 ;
  margin: auto;
  vertical-align: middle;
  background-color: #6d451b;
  border-radius: 50px;
}

#b1{
   background-color: #737373;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   position: relative;
   top: -54px;
   right: 10px;
}


#b1_1{
   background-color: #5c5864;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   position: relative;
   top:5px;
   left:5px;
}


#b2,#b3,#b4{  /*caractéristiques communes aux boutons de la tele*/
   width: 20px;
   height: 20px;
   border-radius: 50%;
   position: relative;
}
#b2{
   background-color: #83c880;
   top: 40px;
   right: -5px;
}
#b3{
   background-color: #d79a5a;
   top: 60px;
   right: -5px;
}
#b4{
   background-color: #ce6e6e;
   top: 80px;
   right: -5px;
}

/*Fond citations*/
#quotes-wrapper{
  display: flex;
  position: relative;
  right: 10px;
  height: 300px;
  width: 400px;
  margin:50px auto;
  border-radius: 8px;
  padding: 20px;
  z-index :100 ;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  border-radius: 40px;
}

/*Citations*/
#quotes{
  font-weight: normal;
  text-align: justify;
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  z-index: 200;
  margin: auto;

  vertical-align: middle;
}

/*position du bouton start again  button1 en pied de page*/
footer{
  position:absolute;
  bottom:95px;
  width:98%;
  padding-top:50px;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;

}


/*Bouton d'action (start again !) = button1*/

/* lien */
a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;

}
/* première étape pour l'animation, */
@-webkit-keyframes top {
  from {
    -webkit-transform: translate(0rem, 0);
            transform: translate(0rem, 0);
  }
  to {
    -webkit-transform: translate(0rem, 3.5rem);
            transform: translate(0rem, 3.5rem);
  }
}

@keyframes top {
  from {
    -webkit-transform: translate(0rem, 0);  /*translate permet de déplacer les éléments dans un espace à deux dimensions  et transform modifie l'espace de coordonnées pour la mise en forme*/
            transform: translate(0rem, 0);
  }
  to {
    -webkit-transform: translate(0rem, 3.5rem);
            transform: translate(0rem, 3.5rem);
  }
}
@-webkit-keyframes bottom {
  from {
    -webkit-transform: translate(-11.5rem, 0);
            transform: translate(-11.5rem, 0);
  }
  to {
    -webkit-transform: translate(0rem, 0);
            transform: translate(0rem, 0);
  }
}
@keyframes bottom {
  from {
    -webkit-transform: translate(-11.5rem, 0);
            transform: translate(-11.5rem, 0);
  }
  to {
    -webkit-transform: translate(0rem, 0);
            transform: translate(0rem, 0);
  }
}
/* les deux boules animées*/
#button1 {
  position: relative;
  letter-spacing: 0.20em;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  background: transparent;
  outline: none;
  font-size: 20px;
  color: #111111;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
  border: none;
  z-index: 78;
  display: inline-block;
  text-align: center;

}
#button1::after, #button1::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 10%;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -2;
  border-radius: 50%;
}
#button1::before { /*pseudo élément qui sera le premier enfant de l'élément ciblé, ici button1 : bouton start again*/
  background-color: #255993;
  top: -0.75rem;
  left: 0.5rem;
  -webkit-animation: top 7s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate; /*Courbe définie en quatre points pour fluidifier l'animation*/
          animation: top 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate;
}
#button1::after { /*pseudo élément qui sera le dernier enfant de l'élément selectionné, ici button1 : bouton start again*/
  background-color: #1D3667;
  top: 3rem;
  left: 13rem;
  -webkit-animation: bottom 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
          animation: bottom 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
}
#button1:hover {
  color: white;
}
#button1:hover::before, #button1:hover::after { /*hover pour que lorsque l'utilisateur passe sa souris sur les points, le bouton se forme*/
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 18px;
  -webkit-animation: none;
          animation: none;
}
#button1:hover::after {
  left: 0rem;
}
#button1:hover::before {
  top: 0.5rem;
  left: 0.35rem;
}
/* Formulaire*/

*{
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

/*Contient/ fond du formulaire*/
.wrapper{
  position: absolute;
  top: 60%;
  left: 85%;
  transform: translate(-50%,-50%);
  max-width: 250px;
  width: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgb(169, 234, 254);
  z-index: 25;
}
/*Titre Formulaire*/
.wrapper h6{
  margin-bottom: 10px;
  text-transform: uppercase; /*Texte en majuscule*/
  letter-spacing: 1.5px;
  color: #332902;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"], /*données rentrer dans le champs*/
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{ /*soumettre la proposition rentrée au préalable*/
  border: none;
  border-color: none;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #fece0c;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}


/* 1024 Ipad horizontal */
@media screen and (max-width: 1024px) {

  body {

      font-size: 25px;
      letter-spacing: 3px;

  }


  /* Quiz */

  .buttons .options{
    float: center;
    width: 100%;

  }

  .options ul li{

    width: 40% !important;
    padding: 9px;
    border-radius:18px;
    margin-top: 20px !important;
    font-size: 30px;

  }

  #tele{
    margin:180px auto;
    padding: 20px;
    height: 400px;
    width: 600px;
    z-index :100 ;
    background-color: #6d451b;
    border-radius: 50px;
  }

  #quotes-wrapper{
    right: 10px;
    height: 350px;
    width: 450px;
  }

  footer{
    bottom:340px;
  }

  .button::before {
    background-color: #18244f;
    top: -0.75rem;
    left: 0.5rem;
    -webkit-animation: top 7s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate;
            animation: top 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate;
  }
  .button::after {
    background-color: #064a6f;
    top: 3rem;
    left: 13rem;
    -webkit-animation: bottom 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
            animation: bottom 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;

}

.wrapper h6{
  margin-bottom: 15px;
  text-transform: uppercase; /*Texte en majuscule*/
  letter-spacing: 1.5px;
  color: #332902;
}



.wrapper{
  position: absolute;
  top: 85% !important;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 300px;
  width: 100%;
  background: #fff;
  padding: 30px;

}

}


/* 768 Ipad vertical*/
@media screen and  (max-width: 768px){
  body {
    background-color: #dff4f4;
    margin: 10px 10px;
    padding: 0px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    overflow-x: hidden;
      font-size: 25px;
      letter-spacing: 3px;

  }

  #container{
    top:-15%;
    width: 100%;
    height : 100%;
    margin: 0 auto;
    text-align: center;
}

  /* effet titre https://codepen.io/gavra/pen/tEpzn*/
  h2#typedtext{

    font-family: "Josefin Sans", sans-serif; // police
    font-size: 50px !important;
    color: #111111;
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    height: 40px;
    position: relative;


    z-index: 6;

  }

  #images{

    top: 85px
  }

  img.carte4{
    width: 120%;
    //top: -200px;

  }

  img.carte3{
    width: 110%;
    //top: -150px;

  }

  img.carte2{
    width: 100%;
    //top: -120px;


  }
  img.carte1{
    width: 90%;
    //top: -100px;

  }

  /* Quiz */
  .options ul li{
    background: rgb(31,106,125);
    background: -moz-linear-gradient(0deg, rgba(31,106,125,1) 0%, rgba(10,85,110,1) 27%, rgba(21,36,80,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(31,106,125,1) 0%, rgba(10,85,110,1) 27%, rgba(21,36,80,1) 100%);
    background: linear-gradient(0deg, rgba(31,106,125,1) 0%, rgba(10,85,110,1) 27%, rgba(21,36,80,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f6a7d",endColorstr="#152450",GradientType=1);
    margin-top: 90px;
  }

  #tele{
    margin:90px auto;
    padding: 20px;
    height: 350px;
    width: 500px;
    z-index :100 ;
    background-color: #6d451b;
    border-radius: 50px;
  }

  /*Fond citations*/
  #quotes-wrapper{
    right: 10px;
    height: 280px;
    width: 380px;
  }

  footer{
    bottom: 60px;
  }

  /*Bouton d'action (start again !)*/
  .button::before {
    background-color: #1f6a7d;
  }

  .button::after {
    background-color: #152450;
  }

  .wrapper{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgb(169, 234, 254);
    z-index: 25;
  }
}


/* 414 Iphone 6+ vertical */
@media screen and (max-width: 414px ) {

  body {
    background-color: #dff4f4;
    margin: 10px 10px;
    padding: 0px;
    text-align: center;

    overflow-x: hidden;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15PX !important;
    letter-spacing: 2px;
    font-weight: normal;
    overflow-x: hidden;


  }

  #images{
    position: relative;
    height: auto;
    width: 100%;
    top : -15px !important;

  }

  /* Quiz */

  .options ul li{

    width: 30% !important;
    padding: 9px;
    border-radius:18px;
    margin-top: 10px !important;
    font-size: 15px;
    color:#ffffff;
    cursor: pointer;
    outline: none;
    text-align: center;
    z-index: 9;
  }

  #tele{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 250px !important;
    width: 350px !important;
    margin:50px auto !important;
    border-radius: 20px !important;
    padding: 20px;
    z-index :100 ;
    margin: auto;
    vertical-align: middle;
    background-color: #6d451b;
    border-radius: 50px;
  }

  #b1{
     background-color: #737373;
     width: 40px;
     height: 30px;
     border-radius: 50%;
     position: relative;
     top: -54px;
     right: 1px;
  }


  #b1_1{
     background-color: #5c5864;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     position: relative;
     top:5px;
     left:5px;
  }

  /*Fond citations*/
  #quotes-wrapper{
    display: flex;
    position: relative;
    right: 5px !important;
    height: 200px !important;
    width: 350px !important;
    margin:50px auto;
  }

  /*position du bouton start again  button1 en pied de page*/
  footer{
    position:absolute;
    bottom:330px !important;
    width:98% !important;
    padding-top:50px;
    height:50px !important;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  /* les deux boules animées*/
  #button1 {
    position: relative;
    letter-spacing: 0.20em;
    margin: 10px auto;
    padding: 1rem 2.5rem;
    background: transparent;
    outline: none;
    font-size: 20px !important;
    color: #111111;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
    border: none;
    z-index: 78;
    display: inline-block;
    text-align: center;

  }


/*Contient/ fond du formulaire*/
.wrapper{
  position: absolute;
  top: 83% !important;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 200px;
  width: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgb(169, 234, 254);
  z-index: 25;
}

}

/* 375 Iphone 6 vertical */
@media screen and (max-width: 375px) {

  body {

    font-size: 15PX !important;
    letter-spacing: 1.5px;

  }


  /* effet titre https://codepen.io/gavra/pen/tEpzn*/
  h2#typedtext{

    font-size: 20px;
  }

  #images{
    width: 100%;
    top : 10px !important;
}
  /* Quiz */
  .options ul li{
    display: inline-block;
    width: 40% !important;
    margin-top: 100px !important;
    font-size: 15px !important;

  }

  #tele{

    height: 200px !important;
    width: 300px !important;
    margin:9px auto !important;
    border-radius: 20px;
    padding: 20px !important;

  }
  /*Fond citations*/
  #quotes-wrapper{
    display: flex;
    position: relative;
    right: 5px !important;
    height: 170px !important;
    width: 290px !important;
    margin:50px auto;
  }

  /*position du bouton start again  button1 en pied de page*/
  footer{
    position:absolute;
    bottom:320px !important;
    width:98% !important;
    padding-top:50px !important;
    height:50px !important;
  }

.wrapper{
  position: absolute;
  top: 85% !important;
  left: 50% !important;
  transform: translate(-50%,-50%);
  max-width: 200px !important;
  width: 100% !important;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgb(169, 234, 254);
  z-index: 25;
}

  /* les deux boules animées*/
  #button1 {
  position: relative;
  letter-spacing: 0.20em;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  background: transparent;
  outline: none;
  font-size: 15px !important;
  color: #111111;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
  border: none;
  z-index: 78;
  display: inline-block;
  text-align: center;

}


}

/*FORM basique qu'iol faudrait lier à une autre page ou alors en trouver un autre à utiliser avec l'API*/




/* 320 Iphone 5 vertical */
@media screen and (max-width: 320px) {

  body {

    font-size: 15PX !important;
    letter-spacing: 1.5px;

  }


  /* effet titre https://codepen.io/gavra/pen/tEpzn*/
  h2#typedtext{

    font-size: 20px;
  }

  #images{
    width: 100%;
    top : 10px !important;
}
  /* Quiz */
  .options ul li{
    display: inline-block;
    width: 40% !important;
    margin-top: 50px !important;
    font-size: 15px !important;

  }

  #tele{

    height: 200px !important;
    width: 300px !important;
    margin:9px auto !important;
    border-radius: 18px;
    padding: 20px !important;

  }
  /*Fond citations*/
  #quotes-wrapper{
    display: flex;
    position: relative;
    right: 5px !important;
    height: 170px !important;
    width: 290px !important;
    margin:50px auto;
  }

  /*position du bouton start again  button1 en pied de page*/
  footer{
    position:absolute;
    bottom:240px !important;
    width:98% !important;
    padding-top:50px !important;
    height:50px !important;
  }

.wrapper{
  position: absolute;
  top: 85% !important;
  left: 50% !important;
  transform: translate(-50%,-50%);
  max-width: 180px !important;
  width: 100% !important;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgb(169, 234, 254);
  z-index: 25;
}

  /* les deux boules animées*/
  #button1 {
  position: relative;
  letter-spacing: 0.20em;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  background: transparent;
  outline: none;
  font-size: 15px !important;
  color: #111111;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
  border: none;
  z-index: 78;
  display: inline-block;
  text-align: center;

}

#button1::after, #button1::before {
  content: "";
  position: absolute;
  height: 0%;
  width: 0%;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -2;
  border-radius: 50%;
}
#button1::before { /*pseudo élément qui sera le premier enfant de l'élément ciblé, ici button1 : bouton start again*/
  background-color: transparent;
}
#button1::after { /*pseudo élément qui sera le dernier enfant de l'élément selectionné, ici button1 : bouton start again*/
  background-color: transparent;
}

}

/*FORM basique qu'iol faudrait lier à une autre page ou alors en trouver un autre à utiliser avec l'API*/
